@import url("https://fonts.googleapis.com/css?family=Delius+Unicase|Open+Sans:400,700&display=swap");
:root {
  --primaryColor: #c37a2e;
  --greenColor: #8bb3a0;
  --color1: #e8e4d3;
  --color2: #8bb3a0;
  --color3: #c37a2e;
  --color4: #4e2710;
  --color: #210d08;
}

/*  #53929b; */

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--greenColor) !important;
}
.text-title {
  font-family: "Delius Unicase", cursive;
  color: var(--primaryColor);
}
